In [16]:
#importing libaries

import mysql.connector
from mysql.connector import Error
import pandas as pd

In [17]:
#connection to server
def create_server_connection(host_name,user_name,user_password):
    connection= None
    try:
        connection= mysql.connector.connect(host=host_name,
                                    user=user_name,
                                    passwd=user_password)
        print("MYSQL CONNECTION SUCCESSFULL")
    except Error as err:
        print(f"Error: {err}")

    return connection

#put Your Mysql terminal password
pw=input("Enter your MySql password: ")
#database name


connection =create_server_connection("127.0.0.1","root",pw)

MYSQL CONNECTION SUCCESSFULL

In [18]:
# creating database 
def create_database(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        print("DATABASE CREATED SUCCESSFULLY!!")
    except Error as err:
        print(f"Error: {err}")

db=input("Enter database name: ")
query=(f"create database {db}")
create_database(connection,query)

DATABASE CREATED SUCCESSFULLY!!

In [19]:
#connecting to database
def create_db_connection(host_name,user_name,user_password,db_name):
    connection= None
    try:
        connection= mysql.connector.connect(host=host_name,
                                    user=user_name,
                                    passwd=user_password,
                                    database=db_name)
        print("MYSQL DATABASE CONNECTION SUCESSFULL")
    except Error as err:
        print(f"Error: {err}")

    return connection

In [20]:
#execute queries
def execute_query(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query EXECUTED successfully")
    except Error as err:
        print(f"Error: {err}")

In [21]:
#creating table
create_books_table="""
create table books(
book_id int primary key,
book_name varchar(50) not null,
book_arrival date not null,
quantity int,
price float);"""

#connect to the database
connection= create_db_connection("127.0.0.1","root",pw,db)
execute_query(connection,create_books_table)

MYSQL DATABASE CONNECTION SUCESSFULL
Query EXECUTED successfully

In [22]:
#inserting records

while True:
#     connection=create_db_connection("127.0.0.1","root",pw,db)
    choice = input("Do you want to enter a book (y/n): ")
    if choice.lower() == 'y':
        try:
            id = int(input("Enter book ID: "))
            b_name = input("Enter book name: ")
            b_arrival_date = input("Enter book's arrival date (yyyy/mm/dd): ")
            quant = int(input("Enter quantity: "))
            price = float(input("Enter price: "))

            insert_query = f"INSERT INTO books VALUES ({id}, '{b_name}', '{b_arrival_date}', {quant}, {price});"
            connection=create_db_connection("127.0.0.1","root",pw,db)
            if connection:
                execute_query(connection, insert_query)
                print("Record inserted successfully.")
            else:
                print("No database connection.")
 
        except Exception as e:
            print(f"Error: {e}")

    elif choice.lower() == 'n':
        break
    else:
        print("Invalid choice. Please enter 'y' or 'n'.")

MYSQL DATABASE CONNECTION SUCESSFULL
Query EXECUTED successfully
Record inserted successfully.
MYSQL DATABASE CONNECTION SUCESSFULL
Query EXECUTED successfully
Record inserted successfully.

In [23]:
#read table
def read_query(connection,query):
    cursor = connection.cursor()
    result=None
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: {err}")

In [24]:
# select query
q1="""select * from books;"""
connection=create_db_connection("127.0.0.1","root",pw,db)
results=read_query(connection,q1)
for result in results:
    print(result)

MYSQL DATABASE CONNECTION SUCESSFULL
(1, 'ramayan', datetime.date(2021, 10, 9), 10, 1000.0)
(2, 'mahabharat', datetime.date(2021, 6, 10), 12, 1200.0)

In [25]:
# select specifics from table query
q2="""select book_id,book_name from books;"""
connection=create_db_connection("127.0.0.1","root",pw,db)
results=read_query(connection,q2)
for result in results:
    print(result)

MYSQL DATABASE CONNECTION SUCESSFULL
(1, 'ramayan')
(2, 'mahabharat')

In [26]:
# order by query
q3="""select * from books order by price desc;"""
connection=create_db_connection("127.0.0.1","root",pw,db)
results=read_query(connection,q3)
for result in results:
    print(result)

MYSQL DATABASE CONNECTION SUCESSFULL
(2, 'mahabharat', datetime.date(2021, 6, 10), 12, 1200.0)
(1, 'ramayan', datetime.date(2021, 10, 9), 10, 1000.0)

In [28]:
# dataframs using pandas
form_db=[]
for result in results:
    result=list(result)
    form_db.append(result)
columns=["book_id","book_name","book_arrival","quantity","price"]
df=pd.DataFrame(form_db,columns=columns)
display(df)

   book_id   book_name book_arrival  quantity   price
0        2  mahabharat   2021-06-10        12  1200.0
1        1     ramayan   2021-10-09        10  1000.0

In [31]:
#update
update="""update books set price=1000 where book_id=2;""" 
connection=create_db_connection("127.0.0.1","root",pw,db)
execute_query(connection,update)

MYSQL DATABASE CONNECTION SUCESSFULL
Query EXECUTED successfully

In [33]:
q5="""select * from books where book_id=2;"""
connection=create_db_connection("127.0.0.1","root",pw,db)
results=read_query(connection,q5)
for result in results:
    print(result)

MYSQL DATABASE CONNECTION SUCESSFULL
(2, 'mahabharat', datetime.date(2021, 6, 10), 12, 1000.0)

In [ ]:
# delete databse query
q4="""drop database demo;"""
connection=create_db_connection("127.0.0.1","root",pw,db)
results=read_query(connection,q4)
for result in results:
    print(result)